body {
  background-image: url("abstract-digital-grid-black-background.jpg");
  background-attachment: fixed;
  background-size: cover;
}

h2 {
  color: white;
}

p {
  color: white; 
}


input {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 250px;
}

button {
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
}

.tag-container {
  width: 300px;
  margin: 20px auto;
  padding: 30px;
  border: 2px solid #333;
  border-radius: 10px;
  position: relative;
  
  background-image: url('abstract-digital-grid-black-background.jpg'); 
  background-size: cover;  
  background-position: center; 
  background-repeat: no-repeat;
}

.circle {
  width: 100px;
  height: 100px;
  background-image: url('AsifShaikS01/user-s-profile/person.jpeg');
  border-radius: 100%;
  position: absolute;
  top: -15px;
  left: calc(50% - 15px);
}
