body {
  background-image: url("abstract-digital-grid-black-background.jpg");
  background-attachment: fixed;
  background-size: cover;
}

h2 {
  color: white;
}

p {
  color: white; 
}


input {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 250px;
}

button {
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
}

.tag-container {
  width: 300px;
  margin: 20px auto;
  padding: 30px;
  border: 3px solid red;
  border-radius: 10px;
  position: relative;
  background-image: url('abstract-digital-grid-black-background.jpg'); 
  background-size: cover;  
  background-position: center; 
  background-repeat: no-repeat;
}

.circle {
  width: 70px;
  height: 70px;
  background-image: url('man.png'); 
  background-size: cover;      
  background-position: left; 
  border-radius: 50%;          
  position: right;          
  top: -1px;
  left: calc(50% - 50px);      
}

