body {
  background-image: url("abstract-digital-grid-black-background.jpg");
  background-attachment: fixed;
  background-size: cover;
}

h2 {
  color: white;
}

p {
  color: white; 
}


input {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 250px;
}

.gender-box input[type="radio"] {
  display: inline-block;
  margin-right: 5px;
}

label {
  color:white;
}

.gender-option {
    display: flex;
    align-items: center;   
    gap: 8px;            
    margin-bottom: 10px;   
  }

  .gender-option input {
    margin: 0;             
  }

  
button {
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
}

.gender-box {
  text-align: center;
  margin-top: 3px;
  color: white;
}

.gender-box label {
  margin: 0 1px;
  cursor: pointer;
}

.bg-1 { background-image: url("bg2.jpg"); }
.bg-2 { background-image: url("bg1.jpg"); }
.bg-3 { background-image: url("bg3.jpg"); }
.bg-4 { background-image: url("bg4.jpg"); }
.bg-5 { background-image: url("bg5.jpg"); }
.bg-6 { background-image: url("bg6.jpg"); }
.bg-7 { background-image: url("bg7.jpg"); }
.bg-8 { background-image: url("bg8.jpg"); }
.bg-9 { background-image: url("bg9.jpg"); }
.bg-10 { background-image: url("bg10.jpg"); }

.tag-container {
  width: 322px;
  height: 204px;
  margin: 20px auto;
  padding: 15px;
  border: 3px solid red;
  border-radius: 10px;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
}

.circle {
  width: 70px;
  height: 70px; 
  background-size: cover;      
  background-position: center; 
  border-radius: 50%;          
  position: right;          
  top: -1px;
  left: calc(50% - 50px);      
}

