body {
  background-image: url("abstract-digital-grid-black-background.jpg");
  background-attachment: fixed;
  background-size: cover;
}

h2 {
  color: white;
}

p {
  color: white; 
}


input {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 250px;
}

.gender-box input[type="radio"] {
  display: inline-block;
  margin-right: 5px;
}

label {
  color:white;
}

.gender-option {
    display: flex;
    align-items: center;   
    gap: 8px;            
    margin-bottom: 10px;   
  }

  .gender-option input {
    margin: 0;             
  }

  
button {
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
}

.gender-box {
  text-align: center;
  margin-top: 3px;
  color: white;
}

.gender-box label {
  margin: 0 1px;
  cursor: pointer;
}

.tag-container {
  width: 300px;
  margin: 20px auto;
  padding: 30px;
  border: 3px solid red;
  border-radius: 10px;
  position: relative;
  background-image: url('abstract-digital-grid-black-background.jpg'); 
  background-size: cover;  
  background-position: center; 
  background-repeat: no-repeat;
}

.circle {
  width: 70px;
  height: 70px; 
  background-size: cover;      
  background-position: center; 
  border-radius: 50%;          
  position: right;          
  top: -1px;
  left: calc(50% - 50px);      
}

